.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #A88684;
    border: 1px solid #C69F9D;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #A88684;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 60px;
}

.BuildControl .Less {  
    background-color: #A8201A;
    border: 1px solid #C6261D;
    color: white;
}

.BuildControl .More {
    background-color: #244C77;
    border: 1px solid #3068A3;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #C6261D;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #3068A3;
    color: white;
}